.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1543a0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: baseline;
  padding: 1em;
  /* margin-bottom: 2em; */
  text-align:"20%";
  /* background-color: rgb(192, 45, 26); */
  /* color: #fff; */
  color: white;
}
.App-container{
  background-color: #e7ecf5;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: left;
  align-items: baseline;
  /* padding: 1em; */
  /* margin-bottom: 2em; */
  /* text-align:"20%"; */
  /* background-color: rgb(192, 45, 26); */
  /* color: #fff; */
  color: white;
}

.App-link {
  color: #61dafb;
}
.box {
  width: 80%;
  height: 200px;
  border: 50px    #f7a239;
}

img {
  width: 100%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
